@font-face {
    font-family: FredokaOne;
    src: url(../fonts/FredokaOne-Regular.ttf);
}
table {
    width: 100%;
    border-spacing: 0;
}
#head1 {
   color: black;
   font-family: FredokaOne, sans-serif;
   font-style: normal;
   font-weight: lighter;
   font-size: 20px;
}
#head2{
    color: aquamarine;
    font-family: FredokaOne, sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

img#backgroud1 {
    width: 900px;
}